
{% extends 'main.html' %}
{% load static %}
{% block content %}    
    <div class="row">
        {% for book in books %}
		<div class="col-lg-4">
			<img class="thumbnail" src="{{book.image.url}}">
			<div class="box-element product">
				<h6><strong>{{book.name}}</strong></h6>
				<hr>

				<a class="btn btn-sm btn-info" href="{% url 'addtocart' book.id %}">Add to cart</a> 

				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong></strong></h4>

			</div>
		</div>
        {% endfor %}

		</div>
    {% endblock content %}
    